@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    background-image: url('https://xstore.8theme.com/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/photo-of-man-wearing-white-hoodie-5474310.jpeg');
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTimmer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    color: $four_color;
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.boxBtn {
    width: 172px;
    margin-top: 20px;
    margin: 20px auto;
    text-align: center;
}
