@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    // height: 144px;
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 55px;

    @include flex_box_custom(space-between, center, 0px);
}

.containerCard {
    @include flex_box_custom(center, center, 18px);

    width: 280px;
    height: 104px;
}

.containerContent {
    @include flex_box_custom(center, flex-start, 13px);

    flex-direction: column;
    color: $white_color;
    font-weight: 300;

    .title {
        font-size: 17px;
    }

    .des {
        font-size: 16px;
        color: #ffffffc7;
    }
}
