@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.containerMenu {
    @include flex_box_custom(center, center, 40px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);

    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
}

.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary_color;
    margin-top: 6px;

    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
    opacity: 1;
    transform: scale(1);
}
