@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    padding: 20px;

    .title {
        font-size: 24px;
        color: $four_color;
        margin-top: 20px;
    }

    .price {
        font-size: 20px;
        color: $seconddary_color;
        margin: 10px 0;
        font-weight: 400;
    }

    .des {
        color: $thr_color;
        font-weight: 400;
    }

    .label {
        margin-top: 10px;
        font-size: 14px;
        color: $thr_color;
        margin-bottom: 5px;
    }

    .boxSize {
        @include flex_box_custom(flex-start, center, 10px);

        .size {
            padding: 9px 12px;
            border: 1px solid #e1e1e1;
            font-size: 12px;
            cursor: pointer;

            &:hover {
                border: 1px solid $primary_color;
            }
        }

        .isActive {
            border: 1px solid $primary_color;
        }
    }

    .boxAddToCart {
        @include flex_box_custom(flex-start, center, 10px);

        margin-top: 20px;

        select {
            width: 65px;
            height: 36px;
        }

        button {
            width: 190px;
        }
    }

    .boxOr {
        @include flex_box_custom(center, center, 10px);

        font-size: 12px;
        color: $thr_color;
        margin-top: 15px;
        margin-bottom: 15px;

        .line {
            width: 100px;
            height: 1px;
            background-color: #e1e1e1;
            flex-grow: 1;
        }
    }

    .boxAddOther {
        @include flex_box_custom(flex-start, center, 10px);

        margin-top: 12px;
        color: $four_color;
        cursor: pointer;
    }

    .boxFooter {
        margin-top: 12px;

        span {
            color: $seconddary_color;
        }
    }
}
