@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(space-between, center, 10px);
    margin-top: 40px;
}

.containerItem {
    @include flex_box_custom(center, center, 10px);
}
