@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 500ms;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 500ms, right 300ms;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 0px;
        background-color: white;
    }

    .boxIcon {
        width: 40px;
        height: 40px;
        @include flex_box_custom(center, center, 0px);

        img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: rgb(222, 222, 222);
            transition: background-color 500ms;
        }
    }
}

.title {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0px;
}

.priceCl {
    font-size: 14px;
    color: $thr_color;
    font-weight: 400;
}
