@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 500ms;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 500ms, right 300ms;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 0px;
        background-color: white;
    }

    .boxIcon {
        width: 40px;
        height: 40px;
        @include flex_box_custom(center, center, 0px);

        img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: rgb(222, 222, 222);
            transition: background-color 500ms;
        }
    }
}

.title {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0px;
}

.textCenter {
    text-align: center;
    margin: 6px 0px;
}

.boxSize {
    @include flex_box_custom(center, center, 10px);

    .size {
        @include flex_box_custom(center, center, 0px);

        font-size: 10px;
        padding: 4px 6px;
        border: 1px solid #e1e1e1;
        cursor: pointer;
    }
}

.boxBtn {
    width: 142px;
    margin: 10px auto;
}

.priceCl {
    font-size: 14px;
    color: $thr_color;
    font-weight: 400;
}

.containerProductLine {
    @include flex_box_custom(flex-start, center, 25px);
    margin: 10px 0 30px 0;

    .boxImg {
        width: 430px;
    }

    .content {
        @include flex_box_custom(center, flex-start, 10px);
        flex-direction: column;
    }

    .boxBtn {
        margin: 10px 0px 0px 0px;
    }
}
