@mixin radius_common($radius: 10px) {
    border-radius: $radius;
}

@mixin flex_box_custom($x, $y, $gap: 10px) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    gap: $gap;
}

@mixin btn($w, $h, $radius, $color: #fff) {
    outline: none;
    border: 1px solid #e1e1e1;
    width: $w;
    height: $h;
    background-color: $color;
    @include radius_common($radius);
}
