@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);

    background-image: url(../../assets/images/Banner-Ecommerse.jpeg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    @include flex_box_custom(center, center, 10px);

    flex-direction: column;
}

.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 15px 0;
}

.des {
    color: $thr_color;
    font-weight: 300;
    margin-bottom: 25px;
}
